.grid {
	padding: 72px 12px 12px 12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&.chips-showing {
		padding-top: 105px;
	}

	&.active-chips-showing {
		padding-top: 141px;
	}
}